body {
	max-width: 100%;
}

#main {
	background: #eee;
	border-radius: 5px;
}

#title{
	padding-top: 50px;
	text-align: center;
	font-size: 40px;
}

#img-div{
	background: #fff;
	max-width: 70%;
	text-align: center;
	display: block;
}
img {
	max-width: 100%;
	height: auto;
	text-align: center;
	display: block;
	margin: 0 auto;
}
#img-caption {
	text-align: center;
}